@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

@media (max-width: 1300px) {
  .mobilehide {
    display: none;
  }
}

body .navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  right: 20px;
}

body .navbar ul {
  width: 100%;
  margin: 40px;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  align-items: center;
  justify-content: center;
  right: 10px;
}

body .navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}

body .navbar ul li .category {
  text-decoration: none;
  color: black;
  font-size: large;
  background-color: white;
}

.logo {
  height: 30px;
}

.navbar ul li * {
  cursor: pointer;
}

body .navbar ul li button {
  background-color: black;
  color: white;
  font-size: large;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

body .navbar ul li i {
  position: relative;
  font-size: xx-large;
  left: 8px;
}

.themeimg {
  background-image: url(./images/theme-1.jpg);
  background-size: contain;
  background-position: 330px 0px;
  background-repeat: repeat-x;
  height: 400px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeimg form div {
  padding: 50px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  gap: 10px;
}

#searchbox {
  height: 50px;
  width: 500px;
  border: none;
  font-size: large;
}

::placeholder {
  font-size: large;
}

#searchbtn {
  height: 52px;
  width: 52px;
  font-size: large;
  font-weight: 500;
  border: none;
}

.themeimg form div i {
  position: relative;
  right: 53px;
  top: 9px;
  font-size: xx-large;
}

#catalog {
  padding: 20px;
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  column-gap: 100px;
}

.shoecard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  height: 420px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.shoecard p {
  transform: translateZ(30px);
  text-align: center;
  font-weight: 500;
  font-size: large;
}

.shoecard h2 {
  transform: translateZ(30px);
  position: relative;
  text-align: center;
  margin-top: auto;
  bottom: 50px;
}
