@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.pagesection {
  width: 100%;
}

ul {
  position: relative;
  right: 70px;
  width: 100%;
  margin: 40px;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}

ul li .category {
  text-decoration: none;
  color: black;
  font-size: large;
  background-color: white;
}

.logo {
  height: 30px;
}

@media (max-width: 1000px) {
  .mobilehide {
    display: none;
  }
}

button {
  background-color: black;
  color: white;
  font-size: large;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.themeimage {
  background-image: url(./theme-1.jpg);
  background-size: contain;
  background-position: 330px 0px;
  background-repeat: repeat-x;
  height: 400px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbox {
  height: 50px;
  width: 500px;
  border: none;
  font-size: large;
}

::placeholder {
  font-size: large;
}

#searchbtn {
  height: 52px;
  width: 52px;
  font-size: large;
  font-weight: 500;
  border: none;
}

#searchbtn-logo {
  position: relative;
  right: 51px;
  top: 9px;
  font-size: xx-large;
}

.theme-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-rect {
  position: relative;
  bottom: 265px;
  width: 550px;
  padding: 50px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  gap: 10px;
}
